<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Font Awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/homepage.css" rel="stylesheet">

    <link rel="icon" href="/images/favicon.png">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar">
    <div class="container">
        <a data-scroll class="navbar-brand" href="index.html"><img class="logo" src="/images/logo.png" height="35px"
                                                                   alt=""></a>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#home_image">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#features">Features</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#accounts">Account</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#developer">About Me</a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<header class="cover-image" id="home_image">
    <div class="overlay">
        <div class="container cover-items">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title">Get yourself a free <strong>Online Resume</strong></h1>
                    <p class="description">Lorem ipsum dolor sit amet, dssadsa fdafa fd sdfdsf consectetur adipisicing
                        elit. Adipisci iusto, aut pariatur quos ipsum! Nisi, totam, dignissimos.</p>

                    <div class="buttons">
                        <a href="#features">
                            <button type="button" class="btn btn-danger btn-lg">Read More</button>
                        </a> &nbsp;
                        <a data-scroll href="#accounts">
                            <button type="button" class="btn btn-outline-light btn-lg">Sign me up!</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<!--FEATURES SECTION-->
<section id="features">
    <div class="features-full-wrapper">
        <div class="features-section">
            <div class="row">
                <div class="col-sm-12 col-md-4 features-item">
                    <div><i class="fa fa-android"></i></div>
                    <div>
                        <h3>Android Compatible</h3>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellendus, tempore eum
                            magni dicta ea delectus a ab, blanditiis perspiciatis porro mollitia illum ullam nobis
                            expedita, cum temporibus qui facilis.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 features-item">
                    <div><i class="fa fa-github"></i></div>
                    <div>
                        <h3>Github Functionality</h3>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellendus, tempore eum
                            magni dicta ea delectus a ab, blanditiis perspiciatis porro mollitia illum ullam nobis
                            expedita, cum temporibus qui facilis.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 features-item">
                    <div><i class="fa fa-phone"></i></div>
                    <div>
                        <h3>Another Site Function</h3>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor repellendus, tempore eum
                            magni dicta ea delectus a ab, blanditiis perspiciatis porro mollitia illum ullam nobis
                            expedita, cum temporibus qui facilis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--DETAILS SECTION-->
<section id="details">
    <div class="details-full-wrapper">

        <br><br><br>
        <h1>Website is not complete yet</h1>
        <a href="/salmanfazal" target="_blank" style="cursor: pointer">
            <button type="button" class="btn btn-danger" style="cursor: pointer">Click here to see what the resume looks
                like
            </button>
        </a>
        <br><br><br>
        <div class="container">
            <h5>You can register and get your customized link that will display your resume just like mine.. <br>
                however, these bugs are yet to be fixed:</h5>
            <h6>- Make sure uploaded image size and format is correct, else fatal error. (max 4 MB)</h6>
            <h6>- Bugs when deleting table contents in the form (manually need to change the order number)</h6>
            <h6>- Bugs when reordering table ID number. Resume will display items the order you insert it into the table.</h6>
            <h6>- Bugs when nahh mate that's it :D email me in case of anything salmanfazal01@gmail.com</h6>
        </div>
    </div>
</section>

<!--ACCOUNT FORM-->
<section id="accounts">
    <div class="accounts-background">
        <div class="accounts-full-wrapper">
            <div class="container ">
                <div class="row accounts-title">
                    <div class="col-sm-12">
                        <h1>Sign in <span style="font-weight: 200">to go to dashboard</span></h1>
                        <p>Create an account if you haven't already, don't be a ***ch!</p>
                    </div>
                </div>
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger" style="padding: 0px;"><%= message %></div>
                <% } %>
                <div class="row">
                    <div class="col-sm-12 col-md-5">

                        <div class="form-container">
                            <div class="form-header">
                                <div class="pull-left">
                                    <h4>Sign up now</h4>
                                    <p>Fill in the form to get started:</p>
                                </div>
                                <div class="pull-right">
                                    <i class="fa fa-pencil-square-o"></i>
                                </div>
                            </div>
                            <div class="form-body">
                                <form id="registration_form" action="/signup" method="post">
                                    <div class="form-group">
                                        <input type="text" id="registration_name" placeholder="First & last name..."
                                               name="name"
                                               class="form-control" required
                                               maxlength="25" pattern="[a-zA-Z]+[ ][a-zA-Z]+"
                                               oninvalid="this.setCustomValidity('Enter valid two names! eg. Salman Fazal')"
                                               oninput="setCustomValidity('')">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" id="registration_email" placeholder="Email..." name="email"
                                               class="form-control" required
                                               maxlength="40"
                                               oninvalid="this.setCustomValidity('Enter a valid email address! eg. salmanfazal01@gmail.com')"
                                               oninput="setCustomValidity('')">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="registration_password" placeholder="Password..."
                                               class="form-control" required
                                               maxlength="40" pattern="(?=.*\d)(?=.*[a-z]).{6,}"
                                               oninvalid="this.setCustomValidity('Must contain at least one number and one letter, and at least 6 or more characters')"
                                               oninput="setCustomValidity('')">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="registration_password_confirm"
                                               name="password"
                                               placeholder="Confirm password..." class="form-control"
                                               class="form-control" required
                                               maxlength="40" onchange="match_registration_passwords()">
                                    </div>
                                    <button type="submit" class="btn btn-danger" id="registration_button">Sign me up!
                                    </button>

                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-1 border1"></div>
                    <div class="col-sm-1"></div>

                    <div class="col-sm-12 col-md-5">

                        <div class="form-container">
                            <div class="form-header">
                                <div class="pull-left">
                                    <h4>Sign in</h4>
                                    <p>Sign in with an existing account:</p>
                                </div>
                                <div class="pull-right">
                                    <i class="fa fa-sign-in"></i>
                                </div>
                            </div>
                            <div class="form-body">
                                <form id="signin_form" action="/signin" method="post">
                                    <div class="form-group">
                                        <label class="sr-only">Email</label>
                                        <input type="email" id="signin-email" placeholder="Email..." name="email"
                                               class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Password</label>
                                        <input type="password" id="signin-password" placeholder="Password..."
                                               name="password" class="form-control" required>
                                    </div>
                                    <a href="dashboard">
                                        <button type="submit" class="btn btn-danger">Sign in</button>
                                    </a>
                                </form>
                            </div>
                            <div class="facebook-login">
                                <h6>...or login with:</h6>
                                <div>
                                    <a class="btn btn-primary disabled" href="#">
                                        <i class="fa fa-facebook"></i>&nbsp;&nbsp; Facebook
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="developer">
    <div class="developer-background">
        <div class="developer-full-wrapper">
            <div class="container">
                <div class="row accounts-title">

                    <div class="col-sm-7">
                        <h1><span style="font-weight: 200">Meet the developer - </span>Salman Fazal</h1>
                        <br>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, architecto dolore
                            esse fuga harum laboriosam maxime modi nobis omnis pariatur repellendus! A consequuntur
                            distinctio doloribus et facere incidunt voluptatum. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Aliquam aperiam, architecto dolore
                            esse fuga harum laboriosam maxime modi nobis omnis pariatur repellendus! A consequuntur
                            distinctio doloribus et facere incidunt voluptatum. Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Aliquam aperiam, architecto dolore esse fuga harum laboriosam maxime modi
                            nobis omnis pariatur repellendus! </p>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <img src="/images/me.jpg" class="img-fluid" width="300" height="300">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact">
    <div class="contact-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Get in touch!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, cum, est et eum facere magnam
                        mollitia obcaecati quibusdam quo quod repellat similique.</p>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="links">
                        <a href="https://www.facebook.com/salmanfazal01" target="_blank"><i class="fa fa-facebook"
                                                                                            aria-hidden="true"></i></a>
                        <a href="https://github.coventry.ac.uk/salmanfazal01" target="_blank"><i class="fa fa-github"
                                                                                                 aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/channel/UCSEy8lBnjp42x5W1JPcca0w" target="_blank"><i
                                class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="http://salmanfazal.co.uk/"><i class="fa fa-globe" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <hr style="background-color: white; height: 2px"><br>

            <div class="row">
                <div class="col-sm-6">
                    <form id="message_form">
                        <div class="form-group">
                            <h6>Name</h6>
                            <input type="text" class="form-control" placeholder="Enter name" required>
                        </div>
                        <div class="form-group">
                            <h6>Email address</h6>
                            <input type="email" class="form-control" placeholder="Enter email" required>
                            <small id="emailHelp" class="form-text text-light">We'll never share your email with anyone
                                else.
                            </small>
                        </div>
                        <div class="form-group">
                            <h6>Your Message</h6>
                            <textarea rows="5" type="text" class="form-control" placeholder="Message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-light">Submit</button>
                        <p class="pull-right" style="display: none" id="sent_message">Thanks for your feedback!</p>
                    </form>
                </div>
                <div class="col-sm-6">
                    <div class="container">
                        <div class="row-fluid">
                            <div>
                                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0"
                                        marginwidth="0"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2431.4140964258145!2d-1.8891459842753546!3d52.45352757980169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bc733700df35%3A0xae46a6a47f508d40!2s6A+Alcester+Rd%2C+Birmingham+B13+8BE!5e0!3m2!1sen!2suk!4v1513310736195"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div>
    <a data-scroll href="#home_image">
        <button type="button" class="btn btn-outline-danger" id="topButton"><i class="fa fa-arrow-up"
                                                                               aria-hidden="true"></i></button>
    </a>
</div>


<!-- Optional JavaScript -->
<script src="/javascripts/homepage.js"></script>
<script src="/javascripts/smooth-scroll.js"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>

</body>

</html>